@import model.CueLine
@(form: Form[AddCueLine], lines: Seq[CueLine])
@main("Add cue / line") {

    <div class="container">
        <div id="inputPrompt">

            @for(line <- lines) {
                <div class="row">
                    <div class="col-md-5">
                        <span class="cue">@line.cue</span>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <span class="cue">@line.line</span>
                    </div>
                </div>
            }

            <form id="editForm" method="post" action="@routes.PromptController.add()">
                <h2>Edit cue</h2>
                <label for="prompt" class="sr-only">Cue</label>
                <textarea id="cue" name="cue" class="form-control" placeholder="Cue..."></textarea>
                <label for="line" class="sr-only">Line</label>
                <textarea id="line" name="line" class="form-control" placeholder="Line..."></textarea>
                <button class="btn btn-lg btn-primary" style="margin-top: 10px" type="submit">Add / Change</button>
            </form>
        </div>
    </div>


    <!--
      - We need:
      -   1. To be able to put in the prompt/response pairs
      -   2. To prompt, then get the response
      -->
}
