@import model.{CueLine, Navigation, SceneName}
@(navigation: Navigation, scene: SceneName, cueLines: Seq[CueLine], cueLineForm: Form[AddCueLine])
@main("List", navigation) {
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cue</th>
                        <th>Line</th>
                        <th style="width: 160px">Action</th>
                    </tr>
                </thead>
                <tbody>
                @for(cueLine <- cueLines){
                    <tr>
                        <td>@cueLine.cue</td>
                        <td>@cueLine.line</td>
                        <td>
                            <button class="btn btn-sm btn-default" data-cuelineid="@cueLine.cueLineId.id" data-cue="@cueLine.cue" data-line="@cueLine.line">Edit...</button>
                            <button class="btn btn-sm btn-default deleteCueLine" data-cuelineid="@cueLine.cueLineId.id">Delete...</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-primary" id="addCueLineButton">Add...</button>
        </div>
    </div>

    <div id="cueLineEdit" class="modal fade" >
        <div class="modal-dialog">
            <form method="post" action="@routes.PromptController.add" data-toggle="validator">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Cue Line</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="hidden" name="cueLineId" id="cueLineId" />
                                    <input type="hidden" name="sceneStream" value="@scene" />
                                    <label for="prompt" class="sr-only">Cue</label>
                                    <textarea id="cue" name="cue" class="form-control" placeholder="Cue..."></textarea>
                                    <label for="line" class="sr-only">Line</label>
                                    <textarea id="line" name="line" class="form-control" placeholder="Line..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="addCueLine">Save changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteConfirmModal" class="modal fade">
        <div class="modal-dialog">
            <form method="post" action="@routes.PromptController.delete" data-toggle="validator">
                <input id="sceneStream_delete" name="sceneStream" type="hidden" value="@scene.toString" />
                <input id="cueLineId_delete" name="cueLineId" type="hidden" />
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Delete Cue Line</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    Are you sure you want to delete the cue line?
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        function setFormValues(cueLineId, cue, line) {
            $("#cueLineId").val(cueLineId);
            $("#cue").val(cue);
            $("#line").val(line);
        }

        $("#cueLineEdit").on("shown.bs.modal", function() {
            $("#cue").focus();
        });

        $("#addCueLineButton").click(function() {
            setFormValues("", "", "");
            $("#cueLineEdit").modal("show");
        });

        $("button[data-cue]").click(function(e) {
            setFormValues(
                $(e.target).data("cuelineid"),
                $(e.target).data("cue"),
                $(e.target).data("line")
            );
            $("#cueLineEdit").modal("show");
        });

        $(".deleteCueLine").click(function(e) {
            $("#cueLineId_delete").val($(e.target).data("cuelineid"));
            $("#deleteConfirmModal").modal("show");
        });
    </script>
}