@import model.{CueLine, User}
@(userOpt: Option[User], lines: Seq[CueLine])
@main("Lines", userOpt) {
    <div class="container">
        <!-- Show the current settings -->

        <form>
            <textarea id="settings" name="settings">
                {lines:[
                @for(cl <- lines) {
                    {
                        "id":"@cl.cueLineId"
                        "cue":"@cl.cue",
                        "line":"@cl.line"
                    }
                }
                ]}
            </textarea>
        </form>

    </div>
}
