@import model.Navigation
@(title: String, navigation: Navigation)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RhysSoft LineLearning - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery/jquery-1.11.3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap/validator.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @if(navigation.userOpt.nonEmpty) {
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                @for(i <- 1 to navigation.items.size) {
                                    @defining((i == navigation.items.size, navigation.items(i - 1))) { case(last, navItem) =>
                                        @defining(if (last) "active" else "") { clazz =>
                                            <li class="@clazz">
                                                <a href="@navItem.link">@navItem.label</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a>@navigation.userOpt.map(u => u.email.address).getOrElse("")</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        }
        @content
    </body>
</html>
