@import model.Navigation
@(form: Form[PasswordChange], navigation: Navigation, failed: Boolean = false)
@main("RhysSoft - Line Learning", navigation) {
    <div class="container">
        @if(failed) {
            <div class="error">Changing password failed</div>
        }

        @frm.form(routes.UserController.passwordChange().url) {
            @frm.field("Old password", "old_password", tpe = "password", error = form("old_password").error, autofocus = true)
            @frm.field("New password", "new_password", tpe = "password", error = form("new_password").error)
            @frm.field("Re-type new password", "retyped_new_password", tpe = "password", error = form("retyped_new_password").error)
            <button type="submit" class="btn btn-primary">Change password</button>
        }
    </div>
}
