@import model.Navigation
@(navigation: Navigation, form: Form[Register])(implicit flash: Flash, messages: Messages)
@main("Register", navigation) {

    @flashMessages(flash)

    <div class="container">
        <div id="inputPrompt">
            <form id="registerForm" method="post" action="@routes.UserController.register()">
                @*<h2>Register</h2>*@
                @defining(form("email")) { field =>
                    @defining(if (field.hasErrors) { "form-group has-error" } else { "form-group" }) { formGroupClass =>
                        <div class="@formGroupClass">

                            <label for="@field.name" class="control-label">Please enter your email address to register</label>
                            <input name="@field.name" type="text" class="form-control" placeholder="email@@address.please" value="@field.value.getOrElse("")" autofocus />

                            @if(field.hasErrors) {
                                @for(err <- field.errors) {
                                    @for(msg <- err.messages) {
                                        <span class="help-block">@messages(msg)</span>
                                    }
                                }
                            }

                        </div>
                    }
                }
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
}