@(scenes: Seq[model.SceneName])
@main("Scenes") {
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Scene</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @for(scene <- scenes){
                    <tr>
                        <td>@scene.name</td>
                        <td>
                            <button class="btn btn-group-sm btn-default">Edit...</button>
                            <button class="btn btn-group-sm btn-default">Delete...</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-primary">Add...</button>
        </div>
    </div>
}